exportClasses( "TranscriptExpressionSet" )

exportMethods(
   id,
   conditions,
   texp,
   gexp,
   dominance,
   biotypes,
   significant_events,
   plotStars,
   plotDistr
)

export(
   readExpressionData,
   readBiotypeData,
   readSignificantEvents,
   newTranscriptExpressionSet
)
